/*--------------------------------SITE FONT*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

/*--------------------------------PAGE LAYOUT*/

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: #8dd2fc;
  font-family: 'Merriweather', serif;
}

/*--------------------------------PAGE LAYOUT END*/

/*--------------------------------TEXT EDITORS*/

.page-head {
  text-align: center;
  letter-spacing: 2px;
}

.page-sub {
  text-align: center;
  letter-spacing: 1px;
}

.page-text {
  text-align: center;
}

.game-info {
  text-align: center;
  font-size: 1.5rem;
}
/*--------------------------------TEXT EDITORS END*/

/*--------------------------------GAME AREA STYLES - INCLUDING BREAKPOINTS*/

.game-board {
  height: 80vh;
  border: solid 2px black;
  border-radius: 1%;
  background-image: linear-gradient(#aaddfd 20%, white);
  margin: 0.5em 0.5em 1em 0.5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5em;
  justify-content: center;
}

.game-info-container {
  width: 70vw;
  margin: 0 auto;
}

.game-row {
  height: 33.333%;
}

.card {
  display: flex;
  align-items: center;
  justify-self: center;
  perspective: 1000px;
  width: 80%;
  margin: 0.5em;
  background: transparent;
  position: relative;
}

.card-inner {
  border: solid 5px #97c4de;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-face img {
  width: 100%;
  height: 100%;
  background-color: white;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front img {
  padding: 0.25em;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(0deg);
}

.card-front {
  transform: rotateY(180deg);
}

/*--------------------------------GAME AREA STYLES END*/

/*--------------------------------OVERLAYS*/

.start-screen-overlay {
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: white;
  text-align: center;
}

#win-screen-overlay {
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: white;
  text-align: center;
}

#win-screen-overlay.show-overlay {
  display: flex;
}

#game-over-screen-overlay {
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: white;
  text-align: center;
}

#game-over-screen-overlay.show-overlay {
  display: flex;
}

.overlay {
  letter-spacing: 2px;
}

.show-overlay {
  display: flex;
}

/*--------------------------------OVERLAYS END*/

/*--------------------------------FEEDBACK PAGE*/

.feedback-container {
  /*stackoverflow https://stackoverflow.com/questions/31217268/center-div-on-the-middle-of-screen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
}

.feedback-form {
  border: solid black 3px;
  border-radius: 1%;
  padding: 7%;
  background-image: linear-gradient(#aaddfd 20%, white);
}

.feedback-heading {
  margin-bottom: 35px;
}

.form-control {
  border: black solid 1px;
}

/*--------------------------------FEEDBACK PAGE END*/

/*--------------------------------BUTTONS*/

.button {
  background-color: #9bd8fc;
  border: black solid 2px;
  border-radius: 5%;
  padding: 0.5rem;
  transition: 0.2s;
}

.return-button {
  margin-top: 10px;
  margin-left: 10px;
}

button:hover {
  background-color: #60c0fb;
}

/*--------------------------------BUTTONS END*/

@media (min-width: 768px) {
  .game-board {
    margin: 2em 2em 1em 2em;
    border-width: 4px;
  }
  .card-front img {
    padding: 0.5em;
  }
}

@media (min-width: 992px) {
  .game-board {
    border-width: 4px;
    margin: 2em 10em;
    grid-template-columns: repeat(4, 1fr);
  }
  .card {
    width: 60%;
  }
  .card-front img {
    padding-left: 15%;
    padding-right: 15%;
  }
}
